<div class="page-container">
  <div class="login-page justify-content-center">
    <h2 style="text-align: center; color: #fff; font-size: 26px; font-weight: bolder;">ACCOUNT LOGIN</h2>
    <div class="form">
      <form class="login-form" [formGroup]="form">
        <label for="email">Email</label>
        <input id="email" formControlName="email" type="text" placeholder="Username" autocomplete="false"/>
        <ng-container *ngFor="let item of validationMessages.email">
          <ng-container *ngIf="isFieldValid(form, 'email', undefined)">
            <p *ngIf="form.get('email').hasError(item.type)" style="color: red">{{item.message}}</p>
          </ng-container>
        </ng-container>
        <label for="password">Password</label>
        <input id="password" formControlName="password" type="password" placeholder="Password" autocomplete="false"/>
        <ng-container *ngFor="let item of validationMessages.password">
          <p *ngIf="form.get('password').hasError(item.type)" style="color: red">{{item.message}}</p>
        </ng-container>
        <p class="text-danger">{{responseErrorMessage}}</p>
        <button (click)="onSubmit()">login</button>
        <p class="message">Not registered? <a routerLink="/auth/signup">Create an account</a></p>
      </form>
    </div>
  </div>
</div>

<!--<script>-->
<!--  $('.message a').click(function(){-->
<!--    $('form').animate({height: "toggle", opacity: "toggle"}, "slow");-->
<!--  });-->
<!--</script>-->
