<header class="header">
  <h1 class="flex-header-title homepage-title">Appname</h1>
</header>

<section class="content vertically-scrollable">
  <article class="card-container">
    <div class="card-header">
      <button class="round-image-container-btn">
        <img class="rounded-image-size" src="assets/img/icons/icon-profile-default-picture.svg" alt="Profile picture">
      </button>

      <a href="#" class="card-profile-name">Firstname Lastname</a>
    </div>

    <div class="card-post-date">
      <span>Date:</span> <span>24-05-2019 12:05</span>
    </div>

    <!-- For status/test post -->

    <div class="card-content-text">
      <p>
        Hello everyone.
        I am wriging this text to test my social network.
      </p>
      <img src="assets/img/post-picture.jpeg">
    </div>

    <!-- For image/video post -->

  </article>

  <article class="card-container">
    <div class="card-header">
      <button class="round-image-container-btn">
        <img class="rounded-image-size" src="assets/img/icons/icon-profile-default-picture.svg">
      </button>

      <a href="#" class="card-profile-name">Firstname Lastname</a>
    </div>

    <div class="card-post-date">
      <span>Date:</span> <span>24-05-2019 12:05</span>
    </div>

    <!-- For status/test post -->

    <div class="card-content-text">
      <p>
        Hello everyone.
        I am wriging this text to test my social network.
      </p>
      <img src="assets/img/post-picture.jpeg">
    </div>

    <!-- For image/video post -->

  </article>
</section>
