<footer class="footer">
  <div class="horizontalLine"></div>
  <ul>
    <li>
      <a class="active" href="#">
        <img src="assets/img/icons/icon-home.svg" alt="Home" />
      </a>
    </li>
    <li>
      <a href="#">
        <img src="assets/img/icons/icon-add-friend.svg" alt="Friend requests" />
      </a>
    </li>
    <li>
      <a href="#">
        <img src="assets/img/icons/icon-message.svg" alt="Messages" />
      </a>
    </li>
    <li>
      <a href="#">
        <img src="assets/img/icons/icon-notification.svg" alt="Notifications" />
      </a>
    </li>
    <li>
      <a href="#">
        <img src="assets/img/icons/icon-3-lines.svg" alt="Menu" />
      </a>
    </li>
  </ul>
</footer>
